<!-- 
Copyright 2015, Google Inc.
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    * Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.
    * Redistributions in binary form must reproduce the above
copyright notice, this list of conditions and the following disclaimer
in the documentation and/or other materials provided with the
distribution.
    * Neither the name of Google Inc. nor the names of its
contributors may be used to endorse or promote products derived from
this software without specific prior written permission.
 
THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body { 
        padding-top: 70px;
      } 
    </style>
    <title>
      User Statistics
    </title>
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">

    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="User plots">
    <meta name="keywords" content="User QPS and Percentile latencies plots">

    <!-- Latest compiled and minified CSS -->
    <link href="../static/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Date Range picker CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/daterangepicker-bs3.min.css" />

    <!-- JQuery core javascript  -->
    <script type="text/javascript" src="../static/jQuery/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <!-- Moment Javascript -->
    <script type="text/javascript" src="../static/js/moment.min.js"></script>
    <!-- Google jsapi -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Date Range picker Javascript -->
    <script type="text/javascript" src="../static/js/daterangepicker.min.js"></script>
    <!-- Custom Javascript -->
    <script type="text/javascript" src="../static/js/user_plots.js"></script>
  </head>

  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li id="performance_database_item" class=""><a href="/data-table">Performance Database</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Statistical Plots<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li id="plotQPS" class=""><a href="/plot-general/qps">QPS statistics</a></li>
                <li id="plotQPSPerCore" class=""><a href="/plot-general/qpspercore">QPS Per Core statistics</a></li>
                <li id="plotPercentile50" class=""><a href="/plot-general/perc50">50<sup>th</sup> %ile Latency statistics</a></li>
                <li id="plotPercentile90" class=""><a href="/plot-general/perc90">90<sup>th</sup> %ile Latency statistics</a></li>
                <li id="plotPercentile95" class=""><a href="/plot-general/perc95">95<sup>th</sup> %ile Latency statistics</a></li>
                <li id="plotPercentile99" class=""><a href="/plot-general/perc99">99<sup>th</sup> %ile Latency statistics</a></li>
                <li id="plotPercentile99Point9" class=""><a href="/plot-general/perc99point9">99.9<sup>th</sup> %ile Latency statistics</a></li>
                <li id="plotServerSysTime" class=""><a href="/plot-general/serversystime">Server System Time</a></li>
                <li id="plotServerUserTime" class=""><a href="/plot-general/serverusertime">Server User Time</a></li>
                <li id="plotClientSysTime" class=""><a href="/plot-general/clientsystime">Client System Time</a></li>
                <li id="plotClientUserTime" class=""><a href="/plot-general/clientusertime">Client User Time</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="contact_item" class=""><a id="about" onclick="$('#aboutModal').modal()" href="#">Contact</a></li>
          </ul>
        </div><!-- navbar-collapse -->
      </div><!-- container-fluid -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="aboutModalLabel">Contact Us</h4>
          </div>
          <div class="modal-body">
            <b>For any issues related to this performance database, please reach out at: grpc-io@googlegroups.com</b>
          </div>
        </div>
      </div>
    </div>

    <!-- Label containing name of the user -->
    <div class="container">
      <div id="user-label"><h1 align="center">{{ username }}</h1></div>
    </div>
    <!-- Date range selector -->
    <hr>
    
    <div class="container" style="width: 90%;">
      <div class="container">
        <div id="qps-report-range" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span></span> <b class="caret"></b>
        </div>
      </div>

      <!-- QPS chart -->
      <div id="chart-div-qps" style="height: 700px;"></div>

      <hr>
      <div class="container">
        <div id="qps-per-core-report-range" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span></span> <b class="caret"></b>
        </div>
      </div>

      <!-- QPS Per Core chart -->
      <div id="chart-div-qps-per-core" style="height: 700px;"></div>

      <hr>      
      <div class="container">
        <div id="perc-lat-report-range" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span></span> <b class="caret"></b>
        </div>
      </div>

      <!-- Latency chart -->
      <div id="chart-div-percentile-latencies" style="height: 700px;"></div>

      <hr>     
      <div class="container">
        <div id="server-times-report-range" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span></span> <b class="caret"></b>
        </div>
      </div>

      <!-- Server Times chart -->
      <div id="chart-div-server-times" style="height: 700px;"></div>
      
      <hr>
      <div class="container">
        <div id="client-times-report-range" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
          <span></span> <b class="caret"></b>
        </div>
      </div>
      <!-- Client Times chart -->
      <div id="chart-div-client-times" style="height: 700px;"></div>
      <hr>
    </div>
    <!-- Javascript functionality for charts and date range selector -->
    <script type="text/javascript">
      populateInfo("{{ user_data|safe }}");
    </script>
  </body>
</html>
